<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="title">CLIENTES</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="title">{{ !typeEdit ? 'Agregar Cliente' : 'Editar Cliente' }}</h3>
                    <form [formGroup]="formCliente" (ngSubmit)="agregarProducto()">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Nombre</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-solid fa-user" [class.correct]="this.formCliente.get('nombre')?.valid" [class.incorrect]="this.formCliente.get('nombre')?.invalid && this.formCliente.get('nombre')?.touched"></i></span>
                                <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre" aria-label="Nombre"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Cantidad</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-solid fa-calculator" [class.correct]="this.formCliente.get('cantidad')?.valid" [class.incorrect]="this.formCliente.get('cantidad')?.invalid && this.formCliente.get('cantidad')?.touched"></i></span>
                                <input formControlName="cantidad" type="text" class="form-control" placeholder="cantidad" aria-label="cantidad"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Precio Unitario</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-solid fa-calculator" [class.correct]="this.formCliente.get('precioUnitario')?.valid" [class.incorrect]="this.formCliente.get('precioUnitario')?.invalid && this.formCliente.get('precioUnitario')?.touched"></i></span>
                                <input formControlName="precioUnitario" type="text" class="form-control" placeholder="Precio" aria-label="Precio" maxlength="5"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label for="exampleFormControlSelect1">Precio Unitario</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-solid fa-apple-whole"></i></span>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option formControlName="" *ngFor="let product of listProducts">{{product.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Cantidad</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-solid fa-calculator"></i></span>
                                <input type="number" class="form-control" placeholder="Cantidad" aria-label="Cantidad"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Total</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-solid fa-wallet"></i></span>
                                <input type="number" class="form-control" aria-label="Total"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                        -->
                        <div class="d-grid gap-2">
                            <button [disabled]="this.formCliente.invalid" type="submit" class="btn btn-success btn-lg btn-block">ACEPTAR</button>
                        </div> 
                    
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="title">Clientes registrados</h3>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th *ngFor="let columna of TableHead" scope="col">{{columna}}</th>
                              </tr>
                            <tr *ngFor="let elem of listaClientes; let i = index">
                                <td>{{elem.idCliente}}</td>
                                <td>{{elem.nombres}}</td>
                                <td>{{elem.telefono}}</td>
                                <td><i class="fa-solid fa-pen-to-square text-info fontIcons" (click)="editarProducto(elem);selectEdit()"></i></td>
                                <td><i class="fa-solid fa-trash text-danger fontIcons" (click)="eliminarPorducto(elem.idProducto)"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>